:root {
    /*Base color*/
    --back-color-text: #fff;
    --back-color-backround: #000;
    --back-color-primary: #8CB3F4;
    --back-color-primary-hover: #7a9ad1;
    --back-color-primary-active: #174FA6;
    --back-color-nav: #36373B;
    --back-color-inactive-element: #5F6366;
    --back-color-inactive-text: #BDC0C5;
    --back-color-button-hover: #8CB3F440;
    --back-color-button-active: #BDC0C540;
    --back-color-header-backround: #202125;
    --back-color-button-pressed: #174ea640;
    --back-shadow: #00000074;
    --back-shadow-inverse: #ffffff74;
    --back-color-link: #d7bde4;
    --back-color-link-hover: #846e90;
    --back-wave: rgba(255, 255, 255, .4);
    --back-grid-fluent: rgba(0, 0, 0, 0.500);
    
    /*Start
    Color's get from Android 13 Material You
    --back-color-all-1: #fff;
    --back-color-all-2: #fdfcff;
    --back-color-all-0: #000;
    A1 Colors
    --back-color-a1-50: #eaf1ff;
    --back-color-a1-100: #d2e4ff;
    --back-color-a1-200: #a2c9fd;
    --back-color-a1-300: #86aee0;
    --back-color-a1-400: #6c93c4;
    --back-color-a1-500: #5178a8;
    --back-color-a1-600: #38608e;
    --back-color-a1-700: #1c4975;
    --back-color-a1-800: #00325a;
    --back-color-a1-900: #001c37;
    A2 Colors
    --back-color-a2-50: #eaf1ff;
    --back-color-a2-100: #d7e3f8;
    --back-color-a2-200: #bbc7db;
    --back-color-a2-300: #a0acbf;
    --back-color-a2-400: #8592a4;
    --back-color-a2-500: #6b7789;
    --back-color-a2-600: #535f70;
    --back-color-a2-700: #3c4858;
    --back-color-a2-800: #253141;
    --back-color-a2-900: #101c2b;
    A3 Colors
    --back-color-a3-50: #fbecff;
    --back-color-a3-100: #f4daff;
    --back-color-a3-200: #d7bde4;
    --back-color-a3-300: #bba2c8;
    --back-color-a3-400: #a088ac;
    --back-color-a3-500: #846e90;
    --back-color-a3-600: #6c5778;
    --back-color-a3-700: #533f5f;
    --back-color-a3-800: #3c2947;
    --back-color-a3-900: #251431;
    N1 Colors
    --back-color-n1-50: #f1f0f4;
    --back-color-n1-100: #e3e2e6;
    --back-color-n1-200: #c6c6ca;
    --back-color-n1-300: #ababae;
    --back-color-n1-400: #909094;
    --back-color-n1-500: #757679;
    --back-color-n1-600: #5d5e61;
    --back-color-n1-700: #45474a;
    --back-color-n1-800: #2f3033;
    --back-color-n1-900: #1a1c1e;
    N2 Colors
    --back-color-n2-50: #edf1fa;
    --back-color-n2-100: #dfe2eb;
    --back-color-n2-200: #c3c6cf;
    --back-color-n2-300: #a7abb4;
    --back-color-n2-400: #8d9199;
    --back-color-n2-500: #72767e;
    --back-color-n2-600: #5a5f66;
    --back-color-n2-700: #43474e;
    --back-color-n2-800: #2c3137;
    --back-color-n2-900: #171c22;
    Error colors
    --back-error0: #ffffff;
    --back-error10: #fffbff;
    --back-error20: #fff8f7;
    --back-error25: #ffedea;
    --back-error30: #ffdad6;
    --back-error35: #ffb4ab;
    --back-error40: #ff897d;
    --back-error50: #ff5449;
    --back-error60: #de3730;
    --back-error70: #ba1a1a;
    --back-error80: #a80710;
    --back-error90: #93000a;
    --back-error95: #7e0007;
    --back-error98: #690005;
    --back-error99: #410002;
    --back-error100: #000000; 
    --back-error0: #000000;
    Other
    --back-box-shadow: rgb(255 255 255 / 35%);
    --back-blur: #00325a70;*/
}