:root {
    /*Base color*/
    --back-color-text: #000;
    --back-color-backround: #fff;
    --back-color-primary: #174FA6;
    --back-color-primary-hover: #467ddd;
    --back-color-primary-active: #8CB3F4;
    --back-color-nav: #F2F3F5;
    --back-color-inactive-element: #BDC0C5;
    --back-color-inactive-text: #5F6366;
    --back-color-button-hover: #174FA640;
    --back-color-button-active: #bfc4c940;
    --back-color-header-backround: #fff;
    --back-color-button-pressed: #8CB3F440;
    --back-shadow: #00000074;
    --back-shadow-inverse: #ffffff74;
    --back-color-link: #846e90;
    --back-color-link-hover: #d7bde4;
    --back-wave: rgba(255, 255, 255, .4);
    --back-grid-fluent: rgba(255, 255, 255, 0.500);
    /*Start
    Color's get from Android 13 Material You
    --back-color-all-1: #000;
    --back-color-all-2: #fdfcff;
    --back-color-all-0: #fff;
    A1 Colors
    --back-color-a1-50: #001c37;
    --back-color-a1-100: #00325a;
    --back-color-a1-200: #1c4975;
    --back-color-a1-300: #38608e;
    --back-color-a1-400: #5178a8;
    --back-color-a1-500: #6c93c4;
    --back-color-a1-600: #86aee0;
    --back-color-a1-700: #a2c9fd;
    --back-color-a1-800: #d2e4ff;
    --back-color-a1-900: #eaf1ff;
    A2 Colors
    --back-color-a2-50: #101c2b;
    --back-color-a2-100: #253141;
    --back-color-a2-200: #3c4858;
    --back-color-a2-300: #535f70;
    --back-color-a2-400: #6b7789;
    --back-color-a2-500: #8592a4;
    --back-color-a2-600: #a0acbf;
    --back-color-a2-700: #bbc7db;
    --back-color-a2-800: #d7e3f8;
    --back-color-a2-900: #eaf1ff;
    A3 Colors
    --back-color-a3-50: #251431;
    --back-color-a3-100: #3c2947;
    --back-color-a3-200: #533f5f;
    --back-color-a3-300: #6c5778;
    --back-color-a3-400: #846e90;
    --back-color-a3-500: #a088ac;
    --back-color-a3-600: #bba2c8;
    --back-color-a3-700: #d7bde4;
    --back-color-a3-800: #f4daff;
    --back-color-a3-900: #fbecff;
    N1 Colors
    --back-color-n1-50: #171c22;
    --back-color-n1-100: #2c3137;
    --back-color-n1-200: #43474e;
    --back-color-n1-300: #5a5f66;
    --back-color-n1-400: #72767e;
    --back-color-n1-500: #8d9199;
    --back-color-n1-600: #a7abb4;
    --back-color-n1-700: #c3c6cf;
    --back-color-n1-800: #dfe2eb;
    --back-color-n1-900: #edf1fa;
    N2 Colors
    --back-color-n2-50: #1a1c1e;
    --back-color-n2-100: #2f3033;
    --back-color-n2-200: #45474a;
    --back-color-n2-300: #5d5e61;
    --back-color-n2-400: #757679;
    --back-color-n2-500: #757679;
    --back-color-n2-600: #909094;
    --back-color-n2-700: #ababae;
    --back-color-n2-800: #e3e2e6;
    --back-color-n2-900: #c6c6ca;
    Error colors
    --back-error10: #410002;
    --back-error20: #690005;
    --back-error25: #7e0007;
    --back-error30: #93000a;
    --back-error35: #a80710;
    --back-error40: #ba1a1a;
    --back-error50: #de3730;
    --back-error60: #ff5449;
    --back-error70: #ff897d;
    --back-error80: #ffb4ab;
    --back-error90: #ffdad6;
    --back-error95: #ffedea;
    --back-error98: #fff8f7;
    --back-error99: #fffbff;
    --back-error100: #ffffff; 
    Other
    --back-box-shadow: rgb(0 0 0 / 35%);
    --back-blur: #d2e4ff70; */
}